.secondpage-container {
  padding: 20px;
}
.secondpage-img-div {
  display: flex;
  justify-content: center;
}
.secondpage-img {
  width: 80%;
}
.secondpage-img-caption {
  text-align: center;
}
.secondpage-hr {
  background-color: #da2e33;
  height: 2px;
  border: none;
}
.diverse-segments-heading {
  text-align: center;
}
.diverse-segments-list {
  text-align: center;
}
span {
  color: red;
}

@media screen and (max-width: 480px) {
  .secondpage-container {
    padding: 0px;
    font-size: 14px;
  }
}
