.heroPage-logo-div {
  display: flex;
  justify-content: center;
}
.heroPage-logo {
  width: 400px;
}
.heroPage-flex {
  display: flex;
  margin-top: 10px;
}
.heroPage-award-img-div {
  width: 35%;
}
.heroPage-award-img {
  width: 100%;
}
.heroPage-content-container {
  width: 65%;
  font-size: 18px;
}
.heroPage-heading {
  font-size: 16px;
}
.heroPage-pointers-container {
  line-height: 1;
}
.heroPage-image {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .heroPage-logo {
    width: 300px;
  }
  .heroPage-flex {
    flex-direction: column;
  }
  .heroPage-award-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .heroPage-award-img {
    width: 80%;
  }
  .heroPage-content-container {
    width: 100%;
    font-size: 16px;
  }
}
